# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env
#.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# Logs
*.log
logs/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads / Media
uploads/
media/

# Build
build/
dist/
*.egg-info/

# Temporary
*.tmp
*.temp